.menu {
  grid-area: menu;
  height: 60px;
  background-color: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -webkit-touch-callout: none; /* iPhone OS, Safari */
  -webkit-user-select: none; /* Chrome, Safari 3 */
  -khtml-user-select: none; /* Safari 2 */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* Possível implementação no futuro */
  /* cursor: default; */
}

.menu-hide {
  grid-area: menu;
  height: 60px;
  background-color: #2c3e50;
}

.menu:hover {
  cursor: pointer;
  background-color: #152330;
  transition: 0.15s;
}

.menu .user-name {
  color: #fff;
  text-align: center;
}

.menu .user-img {
  margin-right: 16px;
  width: 50px;
  height: 50px;

  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #fff;
}

.dropdown-divider {
  border-bottom: 1px solid #fff;
  margin: 0.5rem 0;
}

.menu .dropdown-toggle::after {
  display: none;
}

.nav-pills .nav-link {
  padding: 0;
}

.nav .nav-item .dropdown-menu {
  background-color: #152330;
  inset: 8px 5px auto 0px !important;
}

.dropdown-item {
  color: #fff;
}
